[submodule "MyEssentials-Core"]
	path = MyEssentials-Core
	url = https://github.com/Namikon/MyEssentials-Core
	branch = master
[submodule "MyPermissions"]
	path = MyPermissions
	url = http://github.com/Namikon/MyPermissions
	branch = master
